<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EquipmentPaging" value="T"/>
		<add key="DataDisplay1" value="T"/>
		<add key="DataDisplay2" value="F"/>
		<add key="DataDisplay3" value="F"/>
		<add key="DataDisplay4" value="F"/>
		<add key="DataDisplay5" value="T"/>
		<add key="DataDisplayIsSerialization" value="T"/>

		<add key="EquipmentPageSize" value="25"/>

		<add key="ParaSet0X0001" value="5"/>
		<add key="ParaSet0X0010" value="cmtds"/>
		<add key="ParaSet0X0013" value="39.100.411.78"/>
		<add key="ParaSet0X0017" value="39.100.411.78"/>
		<add key="ParaSet0X0018" value="31174"/>
		<add key="ParaSet0X0020" value="0"/>
		<add key="ParaSet0X0027" value="10"/>
		<add key="ParaSet0X0029" value="10"/>
		<add key="ParaSet0X0030" value="120"/>
		<add key="ParaSet0X0055" value="100"/>
		<add key="ParaSet0X0056" value="60"/>
		<add key="ParaSet0X0080" value="0"/>
		<add key="ParaSet0X0081" value="1"/>
		<add key="ParaSet0X0082" value="1"/>
		<add key="ParaSet0X0083" value="测A12345"/>
		<add key="ParaSet0X0084" value="1"/>
		<add key="ParaSet0X1018" value="1"/>
		<add key="KafkaServer" value="192.168.31.39:9092"/>
		<add key="DataDisplayMaxMessageCount" value="40"/>
		<add key="DataDisplayShowMessageCount" value="10"/>
	</appSettings>
</configuration>